name: macports
on:
  workflow_dispatch: # 手动触发构建

env:
  CROSS_OVER_VERSION: "25.1.1"
  BUNDLE_NAME: "Wine-CX-Build"

jobs:
  build:
    runs-on: macos-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          brew install bison flex mingw-w64 pkg-config freetype gnutls molten-vk sdl2 ccache gstreamer gst-plugins-base
          echo "/opt/homebrew/opt/bison/bin" >> $GITHUB_PATH
          echo "/opt/homebrew/opt/flex/bin" >> $GITHUB_PATH

      - name: Download Crossover Source
        run: |
          curl -L -O "https://media.codeweavers.com/pub/crossover/source/crossover-sources-${{ env.CROSS_OVER_VERSION }}.tar.gz"
          mkdir -p wine-source
          tar -xf "crossover-sources-${{ env.CROSS_OVER_VERSION }}.tar.gz" --strip-components=2 sources/wine

      - name: Configure Wine
        run: |
          mkdir build-dir
          cd build-dir
          
          export SDK_PATH=$(xcrun --sdk macosx --show-sdk-path)
          export CC="ccache clang"
          export CXX="ccache clang++"
          export CFLAGS="-target x86_64-apple-macos11.0 -isysroot $SDK_PATH -O3 -march=skylake -mtune=skylake -g0"
          export LDFLAGS="-target x86_64-apple-macos11.0 -Wl,-headerpad_max_install_names -Wl,-rpath,@loader_path/../../Resources/lib -Wl,-rpath,/opt/homebrew/lib"
          export i386_CC="/opt/homebrew/bin/i686-w64-mingw32-gcc"
          export x86_64_CC="/opt/homebrew/bin/x86_64-w64-mingw32-gcc"
          
          ../wine-source/configure \
            --build=x86_64-apple-darwin \
            --prefix=/ \
            --enable-archs=i386,x86_64 \
            --disable-tests \
            --with-gnutls --with-vulkan --with-sdl --with-gstreamer --with-mingw \
            --without-x --without-dbus --without-opengl

      - name: Compile Wine
        run: |
          cd build-dir
          make -j$(sysctl -n hw.ncpu)

      - name: Package App Bundle
        run: |
          cd build-dir
          mkdir -p ../install_tmp
          make install-image DESTDIR="$(pwd)/../install_tmp"
          
          cd ..
          FINAL_DIR="${{ env.BUNDLE_NAME }}.wine"
          mkdir -p "$FINAL_DIR/Contents/MacOS"
          mkdir -p "$FINAL_DIR/Contents/Resources"
          
          # 按照 Heroic 要求的结构移动文件
          cp -R install_tmp/bin/* "$FINAL_DIR/Contents/MacOS/"
          cp -R install_tmp/lib "$FINAL_DIR/Contents/Resources/"
          cp -R install_tmp/share "$FINAL_DIR/Contents/Resources/"
          
          # 创建关键软链接
          cd "$FINAL_DIR/Contents/MacOS"
          ln -sf wineloader wine
          ln -sf wineloader wine64
          ln -sf ../Resources/lib lib
          ln -sf ../Resources/share share

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BUNDLE_NAME }}
          path: ${{ env.BUNDLE_NAME }}.wine
